@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans;
  }
}

.grid-pattern {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #e2e8f0 1px, transparent 1px),
    linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
}